body{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: medium;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: blueviolet; */
}

input{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}

h1 {
    color:cadetblue;
}

h2 {
    color:cadetblue;
}

br{
    margin: 5px;
}

p{
    margin: 10px;
}

/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
} */

.columns{
    display: flex;
    overflow: auto;
    /* flex: auto; */
    /* flex-direction: row; */
} 

.searched-column{ 
    padding: 5px;
    column-gap: 5px;
    width: 33.33%;
    overflow-wrap: break-word;
    flex: 0 0 33.33%;
}

.column{
    padding: 5px;
    column-gap: 5px;
    flex: auto;
    overflow: hidden;
    /* width: auto; */
    /* width: 33.33%; */
    /* min-width: 33.33%; */
    /* max-width: 66.67%; */
    /* flex-basis: 1;
    flex-grow: 100%; */
}

.row {
    background-color: #E6E6E6;
    border-radius: 10px;
}


.column > div {
    border-radius: 10px;
    /* flex: 200px; */
    overflow-wrap: break-word;
    /* padding: 5px;
    column-gap: 5px; */
}

summary {
    /* flex: 200px; */
    margin: 10px;
    cursor: pointer;
    background-color:#E6E6E6;
    color: black;
    font-weight: bold;
    border: none;
    text-align: left;
    font-size: medium;
}

button {
    background-color: cadetblue;
    color: whitesmoke;
    border: 0ch;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 25px;
    cursor: pointer;
}