body{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color:cadetblue;
}

button {
    background-color: cadetblue;
    color: whitesmoke;
    border: 0ch;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}